<html>
  <head>
    <title>Ariketa</title>
  </head>
  <body>
    <div>
      <h1>Ariketa</h1>
      <form hx-post="/azeae" hx-swap="none">
        <label for="nor">Nor</label>
        <input type="text" name="nor" id="nor" value="Zu" disabled/>
        <label for="nori">Nori</label>
        <input type="text" name="nori" id="nori" value="Niri" disabled/>
        <label for="nork">Nork</label>
        <input type="text" name="nor" id="nor" value="Haiek" disabled/>
        <label for="denbora">Denbora</label>
        <input type="text" name="denbora" id="denbora" value="Orainaldia"/>
        <label for="erantzuna">Erantzuna</label>
        <input type="text" name="erantzuna" id="Erantzuna" />
        <button type="submit">Bidali</button>
      </form>
    </div>
  </body>
</html>
